.card-deck-container{
    /* border: 2px solid black; */
}

.card-deck-heading{
    text-align: center;
    font-size: 1.1rem;
}

.card-deck-heading p{
    color: rgb(20, 158, 202);
}

.card-deck{
    display: flex;
    justify-content: center;
}

.card{
    margin: 1rem 0.5rem;
}

.card button{
    width: 4rem;
    height: 6rem;
    border-radius: 5px;
    cursor: pointer;
    /* background-color: #fff; */
    background-color: rgba(88, 175, 223, 0.1);
    /* border: 2px solid #3993ff; */
    border: 2px solid rgb(20, 158, 202);
    /* color: #3993ff; */
    color: rgb(20, 158, 202);
    font-size: 1rem;
    font-weight: 700;
}

.card button:hover{
    /* background-color: #ebf4ff; */
    background-color: rgba(88, 175, 223,0.4)
}

.card .selected-card,.card .selected-card:hover{
    /* background-color: #3993ff;*/
    background-color: rgb(20, 158, 202);
    color: #fff;
}

/* Light Mode Styles */

.card button{
    background-color: rgb(230, 247, 255);
    color: rgb(8, 126, 164);
}

.card button:hover{
    /* background-color: rgb(246, 247, 249) */
}