.card-deck-with-frequency{
    display: flex;
    justify-content: center;
}

.card-with-frequency{
    margin: 1rem 0.5rem;
}

.card-with-frequency button{
    width: 4rem;
    height: 6rem;
    border-radius: 5px;
    background-color: rgb(20, 158, 202);
    border: 2px solid rgb(35, 39, 47);
    color: rgb(246, 247, 249);
    font-size: 1rem;
    font-weight: 700;
}

.card-with-frequency p{
    /* color: #1a2935; */
    color: rgb(246, 247, 249);
    margin-top: 5px;
}

/* Light Mode Styles */

.card-with-frequency button.light-theme{
    border: 2px solid #fff;
}

.card-with-frequency p.light-theme{
    color: #1a2935;
}