<div class="join-room-page-container" [ngClass]="{
    'light-theme': themeService.getCurrentTheme() === 'light'
}">
    <div class="join-room-page-navbar" [ngClass]="{
        'light-theme': themeService.getCurrentTheme() === 'light'
    }">
        <div class="join-room-page-navbar-left-items-container">
            <img src="../../assets/logo-icon.svg" alt="logo">
            <h2 [ngClass]="{
                'light-theme': themeService.getCurrentTheme() === 'light'
            }">Join Room</h2>
        </div>
        <div class="join-room-page-navbar-right-items-container">
            <div class="navbar-theme-button-container">
                <button (click)="toggleCurrentTheme()" [ngClass]="{
                    'light-theme': themeService.getCurrentTheme() === 'light'
                }">
                    <fa-icon [icon]="['fas',themeService.getCurrentTheme() === 'light' ? 'moon' : 'sun']" [styles]="{'color':themeService.getCurrentTheme() === 'light' ? '' : 'rgb(246, 247, 249)'}" size="2x"></fa-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="join-room-page-content">
        <div class="join-room-page-heading">
            <h1>Join Room</h1>
        </div>
        <div class="join-room-inputs-container">
            <div class="room-id-input-container">
                <label for="room_id" [ngClass]="{
                    'light-theme': themeService.getCurrentTheme() === 'light'
                }">Room Id</label>
                <input [(ngModel)]="roomId" type="text" id="room_id" placeholder="Room Id" [ngClass]="{
                    'light-theme': themeService.getCurrentTheme() === 'light'
                }">
            </div>       
        </div>
        <div class="join-room-btn-container">
            <button (click)="joinRoom()" class="join-room-btn" [ngClass]="{
                'light-theme': themeService.getCurrentTheme() === 'light'
            }">Join</button>
        </div>    
    </div>
</div>