<div class="single-input-modal-container">
    <div class="single-input-modal">
        <div class="single-input-modal-close-btn">
            <button>X</button>
        </div>
        <div class="single-input-modal-heading">
            <h1>Choose your display name</h1>
        </div>
        <div class="single-input-modal-input">
            <input type="text" placeholder="Your display name">
        </div>
        <div class="single-input-modal-submit-btn-container">
            <button>Continue</button>
        </div>
    </div>
</div>