<div class="single-input-modal-container">
    <div class="single-input-modal">
        <!-- <div class="single-input-modal-close-btn">
            <button>X</button>
        </div> -->
        <div class="single-input-modal-heading">
            <h2>{{heading}}</h2>
        </div>
        <div class="single-input-modal-input">
            <input [(ngModel)]="modalData" type="text" [placeholder]="placeholder">
        </div>
        <div class="single-input-modal-submit-btn-container">
            <button (click)="handleContinue()">Continue</button>
        </div>
    </div>
</div>