<div class="new-room-page-container">
    <div class="new-room-page-heading">
        <h1>Choose a name and a voting system for your room</h1>
    </div>
    <div class="new-room-inputs-container">
        <div class="new-room-name-input-container">
            <input type="text" placeholder="Room's Name">
        </div>
        <div class="new-room-voting-system-input-container">
            <label for="voting_system_select">Voting System </label>

            <select name="" id="voting_system_select">
                <option value="">Fibonacci</option>
                <!-- <option value=""></option> -->
                <!-- <option value=""></option> -->
            </select>
        </div>
    </div>
    <div class="create-room-btn-container">
        <button class="create-room-btn">Create Room</button>
    </div>
</div>