<div class="new-room-page-container" [ngClass]="{
    'light-theme': themeService.getCurrentTheme() === 'light'
}">
    <div class="new-room-page-navbar" [ngClass]="{
        'light-theme': themeService.getCurrentTheme() === 'light'
    }">
        <div class="new-room-page-navbar-left-items-container">
            <img src="../../assets/logo-icon.svg" alt="logo">
            <h2 [ngClass]="{
                'light-theme': themeService.getCurrentTheme() === 'light'
            }">Create room</h2>
        </div>
        <div class="new-room-page-navbar-right-items-container">
            <div class="navbar-theme-button-container">
                <button (click)="toggleCurrentTheme()" [ngClass]="{
                    'light-theme': themeService.getCurrentTheme() === 'light'
                }">
                    <fa-icon [icon]="['fas',themeService.getCurrentTheme() === 'light' ? 'moon' : 'sun']" [styles]="{'color':themeService.getCurrentTheme() === 'light' ? '' : 'rgb(246, 247, 249)'}" size="2x"></fa-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="new-room-page-body">
        <div class="new-room-page-heading">
            <h2>Choose a name and a voting system for your room</h2>
        </div>
        <div class="new-room-inputs-container">
            <div class="new-room-name-input-container">
                <label for="room_name" [ngClass]="{
                    'light-theme': themeService.getCurrentTheme() === 'light'
                }">Room Name </label>

                <input [(ngModel)]="roomName" type="text" placeholder="Room's Name" id="room_name" autocomplete="off" [ngClass]="{
                    'light-theme': themeService.getCurrentTheme() === 'light'
                }">
            </div>
            <div class="new-room-voting-system-input-container">
                <label for="voting_system_select" [ngClass]="{
                    'light-theme': themeService.getCurrentTheme() === 'light'
                }">Voting System </label>
    
                <select [(ngModel)]="votingSystem" name="" id="voting_system_select" [ngClass]="{
                    'light-theme': themeService.getCurrentTheme() === 'light'
                }">
                    <option value="fibonacci">Fibonacci ( 0, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ? )</option>
                    <option value="modified fibonacci">Modified fibonacci ( 0, ½, 1, 2, 3, 5, 8, 13, 20, 40, 100, ?)</option>
                    <option value="powers of 2">Powers of 2 ( 0, 1, 2, 4, 8, 16, 32, 64, ?)</option>
                    <!-- <option value=""></option> -->
                    <!-- <option value=""></option> -->
                </select>
            </div>
        </div>
        <div class="create-room-btn-container">
            <button (click)="createRoom()" class="create-room-btn" [ngClass]="{
                'light-theme': themeService.getCurrentTheme() === 'light'
            }">Create Room</button>
        </div>
    </div>
</div>