<div class="room-not-found-page-container">
    <div class="room-not-found-page-navbar">
        <img src="../../assets/full-logo-light-mode.svg" alt="logo">
    </div>
    <div class="room-not-found-page-body">
        <div class="room-not-found-page-info-container">
            <div class="room-not-found-page-info-heading">
                <h1>Room Not Found</h1>
            </div>
            <div class="room-not-found-page-info-body">
                <p>Sorry, we can’t find what you are looking for.</p>
            </div>
            <div class="back-to-home-page-btn-container">
                <button (click)="navigateToHomePage()">Go Back</button>
            </div>
        </div>
        <div class="room-not-found-page-image-container">
            <div class="room-not-found-page-image">
                <img src="../../assets/not-found.png" alt="room not found page image">
            </div>
        </div>
    </div>
</div>