<div class="room-not-found-page-container" [ngClass]="{
    'light-theme': themeService.getCurrentTheme() === 'light'
}">
    <div class="room-not-found-page-navbar" [ngClass]="{
        'light-theme': themeService.getCurrentTheme() === 'light'
    }">
        <div class="room-not-found-page-navbar-left-items-container">
            <img [src]="themeService.getCurrentTheme() === 'light' ? '../../assets/full-logo-light-mode.svg' : '../../assets/full-logo.svg' " alt="logo">
        </div>
        <div class="room-not-found-page-navbar-right-items-container">
            <div class="navbar-theme-button-container">
                <button (click)="toggleCurrentTheme()" [ngClass]="{
                    'light-theme': themeService.getCurrentTheme() === 'light'
                }">
                    <fa-icon [icon]="['fas',themeService.getCurrentTheme() === 'light' ? 'moon' : 'sun']" [styles]="{'color':themeService.getCurrentTheme() === 'light' ? '' : 'rgb(246, 247, 249)'}" size="2x"></fa-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="room-not-found-page-body">
        <div class="room-not-found-page-info-container">
            <div class="room-not-found-page-info-heading">
                <h1>Room Not Found</h1>
            </div>
            <div class="room-not-found-page-info-body">
                <p [ngClass]="{
                    'light-theme': themeService.getCurrentTheme() === 'light'
                }">Sorry, we can’t find what you are looking for.</p>
            </div>
            <div class="back-to-home-page-btn-container">
                <button (click)="navigateToHomePage()" [ngClass]="{
                    'light-theme': themeService.getCurrentTheme() === 'light'
                }">Go Back</button>
            </div>
        </div>
        <div class="room-not-found-page-image-container">
            <div class="room-not-found-page-image">
                <img src="../../assets/not-found.png" alt="room not found page image">
            </div>
        </div>
    </div>
</div>