.room-not-found-page-container{
    min-height: 100vh;
    background-color: rgb(35, 39, 47);
}

.room-not-found-page-navbar{
    padding: 30px;
    background-color: rgb(55, 65, 81);
}

.room-not-found-page-navbar img{
    /* width: 12rem; */
    height: 3rem;
}

.room-not-found-page-body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.room-not-found-page-info-container,.room-not-found-page-image-container{
    text-align: center;
    flex: 1;
}

.room-not-found-page-info-heading{
    font-size: 1.5rem;
    color: rgb(20, 158, 202);
}

.room-not-found-page-info-body{
    margin-top: 0.5rem;
}

.room-not-found-page-info-body p{
    font-size: 1.3rem;
    color: rgb(246, 247, 249);
}

.back-to-home-page-btn-container{
    margin-top: 3rem;
}

.back-to-home-page-btn-container button{
    width: 60%;
    padding: 15px;
    /* border: 2px solid #fff; */
    border: 2px solid rgb(35, 39, 47);
    border-radius: 5px;
    cursor: pointer;
    /* background-color: #3993ff; */
    background-color: rgb(8, 126, 164);
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.back-to-home-page-btn-container button:hover{
    /* background-color: #74b3ff; */
    background-color: rgba(8, 126, 164, 0.8);
}

.back-to-home-page-btn-container button:active,
.back-to-home-page-btn-container button:focus{
    outline-width: 3px;
    outline-style: solid;
    /* outline-color: #74b3ff6e; */
    outline-color: rgb(8, 126, 164);
}

.back-to-home-page-btn-container button:active{
    /* background-color: #055bc5; */
    background-color: rgba(8, 126, 164, 0.8);
}

.room-not-found-page-image img{
    width: 40rem;
}

/* Light Mode Styles */
.room-not-found-page-container.light-theme{
    background-color: #fff;
}

.room-not-found-page-navbar.light-theme{
    background-color: rgb(243, 244, 246);
}

.room-not-found-page-info-body p.light-theme{
    color: rgb(35, 39, 47);
}

.back-to-home-page-btn-container button.light-theme{
    border: 2px solid #fff;
}