<div class="voting-card-container">
    <div 
        *ngIf="!allCardsRevealed"
        class="voting-status"
        [ngClass]="{
            'voting-status-true':votingStatus === true,
            'voting-status-false':votingStatus === false
        }"
    >
        <!-- <p>{{votingStatus}}</p> -->
    </div>
    <div
        *ngIf="allCardsRevealed"
        class="vote-container"
    >
        <p>{{vote}}</p>
    </div>
    <div class="user-details-container">
        <div class="user-profile-image-container">
            <img [src]="userProfileImageURL" alt="user profile image">
        </div>
        <div class="username-container">
            <p class="username">{{userName}}</p>
        </div>
    </div>
</div>