.voting-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.voting-status,.vote-container{
    /* border: 1px solid greenyellow; */
    width: 4rem;
    height: 6rem;
    border-radius: 5px;
}

.vote-container{
    /* background-color: #fff; */
    background-color: rgba(88, 175, 223, 0.1);
    /* border: 2px solid #3993ff; */
    border: 2px solid rgb(20, 158, 202);
    /* color: #3993ff; */
    color: rgb(20, 158, 202);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
}

.voting-status.voting-status-true{
    /* background-color: #3993ff;
    background: linear-gradient(45deg,#3993ff 12%,transparent 0,transparent 88%,#3993ff 0),linear-gradient(135deg,transparent 37%,#1a7bf2 0,#1a7bf2 63%,transparent 0),linear-gradient(45deg,transparent 37%,#3993ff 0,#3993ff 63%,transparent 0),#74b3ff;
    background-size: 17px 17px; */

    background: radial-gradient(circle at 50% 100%, #149eca80 5%, #149eca 5% 10%, #149eca80 10% 15%, #149eca 15% 20%, #149eca80 20% 25%, #149eca 25% 30%, #149eca80 30% 35%, #149eca 35% 40%, transparent 40%), radial-gradient(circle at 100% 50%, #149eca80 5%, #149eca 5% 10%, #149eca80 10% 15%, #149eca 15% 20%, #149eca80 20% 25%, #149eca 25% 30%, #149eca80 30% 35%, #149eca 35% 40%, transparent 40%), radial-gradient(circle at 50% 0%, #149eca80 5%, #149eca 5% 10%, #149eca80 10% 15%, #149eca 15% 20%, #149eca80 20% 25%, #149eca 25% 30%, #149eca80 30% 35%, #149eca 35% 40%, transparent 40%), radial-gradient(circle at 0 50%, #149eca80 5%, #149eca 5% 10%, #149eca80 10% 15%, #149eca 15% 20%, #149eca80 20% 25%, #149eca 25% 30%, #149eca80 30% 35%, #149eca 35% 40%, transparent 40%);
    background-size: 3em 3em;
    background-color: #ffffff;
    opacity: 1
}

.voting-status.voting-status-false{
    /* background-color: #e8e9ea; */
    background-color: rgba(88, 175, 223, 0.2);
}

.user-details-container{
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-profile-image-container img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 3px solid rgb(77, 93, 114);
}

.username-container p{
    color: rgb(246, 247, 249);
}

/* Light Mode Styles */
.vote-container{
    background-color: rgb(230, 247, 255);
}

.voting-status.voting-status-true{
    /* background-color: #3993ff;
    background: linear-gradient(45deg,#3993ff 12%,transparent 0,transparent 88%,#3993ff 0),linear-gradient(135deg,transparent 37%,#1a7bf2 0,#1a7bf2 63%,transparent 0),linear-gradient(45deg,transparent 37%,#3993ff 0,#3993ff 63%,transparent 0),#74b3ff;
    background-size: 17px 17px; */

    background: radial-gradient(circle at 50% 100%, #149eca80 5%, #149eca 5% 10%, #149eca80 10% 15%, #149eca 15% 20%, #149eca80 20% 25%, #149eca 25% 30%, #149eca80 30% 35%, #149eca 35% 40%, transparent 40%), radial-gradient(circle at 100% 50%, #149eca80 5%, #149eca 5% 10%, #149eca80 10% 15%, #149eca 15% 20%, #149eca80 20% 25%, #149eca 25% 30%, #149eca80 30% 35%, #149eca 35% 40%, transparent 40%), radial-gradient(circle at 50% 0%, #149eca80 5%, #149eca 5% 10%, #149eca80 10% 15%, #149eca 15% 20%, #149eca80 20% 25%, #149eca 25% 30%, #149eca80 30% 35%, #149eca 35% 40%, transparent 40%), radial-gradient(circle at 0 50%, #149eca80 5%, #149eca 5% 10%, #149eca80 10% 15%, #149eca 15% 20%, #149eca80 20% 25%, #149eca 25% 30%, #149eca80 30% 35%, #149eca 35% 40%, transparent 40%);
    background-size: 3em 3em;
    background-color: #ffffff;
    opacity: 1
}

.voting-status.voting-status-false{
    background-color: #e8e9ea;
}

.username-container p{
    color: rgb(35, 39, 47);
}