<div class="room-page-container">
    <app-single-input-modal 
        *ngIf="!roomDataService.getCurrentRoom().roomId"
        (modalDataEvent)="handleContinue($event)" 
        heading="Choose your display picture and name"
        placeholder="Your display name"
    ></app-single-input-modal>

    <app-invite-players-modal
        *ngIf="isInvitePlayersModalOpen"
        [inviteLink]="'http://localhost:4200/'+getRoomId()"
        [inviteCode]="getRoomId()"
        (closeInvitePlayersModalEvent)="toggleInvitePlayersModal()"
    ></app-invite-players-modal>

    <nav class="room-page-navbar">
        <div class="room-page-navbar-left-items-container">
            <div class="logo">
                <img src="https://cdn-icons-png.flaticon.com/512/86/86494.png" alt="logo">
            </div>
            <div class="room-name-container">
                <h2 class="room-name">{{roomDataService.getCurrentRoom().roomName}}</h2>
            </div>
        </div>
        <div class="room-page-navbar-right-items-container">
            <div class="user-profile-container">
                <div class="user-profile-image-container">
                    <!-- <img src="https://cdn-icons-png.flaticon.com/512/456/456212.png" alt="user profile image"> -->
                    <img [src]="
                    roomDataService.getCurrentUser() !== undefined ? roomDataService.getCurrentUser()?.profileImageUrl : 
                    '../../assets/default-user.png' " alt="user profile image">
                </div>
                <div class="username-container">
                    <p class="username">{{roomDataService.getCurrentUser()?.userName}}</p>
                </div>
            </div>
            <div class="invite-members-btn-container">
                <button 
                    class="invite-members-btn"
                    (click)="toggleInvitePlayersModal()"
                >Invite Members</button>
            </div>
            <div class="leave-room-btn-container">
                <button
                    class="leave-room-btn"
                    (click)="handleLeaveRoom()"
                >Leave Room</button>
            </div>
        </div>
    </nav>

    <div class="room-page-content-container">
        <div class="other-users-voting-cards-container">
            <div class="other-users-voting-cards">
                <div *ngFor="let user of roomDataService.getCurrentRoom().activeUsers">
                    <app-voting-card 
                        *ngIf="user.userId !== roomDataService.getCurrentUser()?.userId" 
                        [votingStatus]="user.votingStatus" 
                        [userName]="user.userName"
                        [userProfileImageURL]="user.profileImageUrl"
                        [vote]="user.vote"
                        [allCardsRevealed]="roomDataService.getCurrentRoom().allCardsRevealed"
                    >
                    </app-voting-card>
                </div>
                <!-- <app-voting-card></app-voting-card>
                <app-voting-card></app-voting-card> -->
            </div>
        </div>

        <div class="voting-cards-controls-container">
            <div class="room-voting-status-container">
                <p 
                    *ngIf="!roomDataService.isAnyActiveUserPickedCard()"
                    class="room-voting-status"
                >
                    Pick your cards!
                </p>
                <p 
                    *ngIf="roomDataService.isAnyActiveUserPickedCard()
                    &&!roomDataService.getCurrentRoom().allCardsRevealed"
                    class="room-voting-status"
                >
                    Picking...
                </p>
            </div>
            <div class="voting-cards-controls">
                <div 
                    *ngIf="roomDataService.getIsCurrentUserAdmin()&&roomDataService.isAnyActiveUserPickedCard()
                    &&!roomDataService.getCurrentRoom().allCardsRevealed"
                    class="reveal-voting-cards-btn-container"
                >
                    <button (click)="handleRevealCards()">Reveal Cards</button>
                </div>
                <div 
                    *ngIf="roomDataService.getCurrentRoom().allCardsRevealed"
                    class="start-new-voting-btn-container"
                >
                    <button (click)="handleStartNewVoting()">Start new voting</button>
                </div>
            </div>
        </div>

        <div class="my-voting-card-container">
            <div class="my-voting-card">
                <app-voting-card 
                    [votingStatus]="roomDataService.getCurrentUser()?.votingStatus"
                    [userName]="roomDataService.getCurrentUser()?.userName"
                    [userProfileImageURL]="roomDataService.getCurrentUser()?.profileImageUrl"
                    [vote]="roomDataService.getCurrentUser()?.vote"
                    [allCardsRevealed]="roomDataService.getCurrentRoom().allCardsRevealed"
                ></app-voting-card>
            </div>
        </div>
    </div>

    <app-card-deck
        *ngIf="!roomDataService.getCurrentRoom().allCardsRevealed"
        [cardDeck]="roomDataService.getCurrentVotingDeck()"
        (userVoteEvent)="handleUserVote($event)"
    >
    </app-card-deck>

    <div 
        *ngIf="roomDataService.getCurrentRoom().allCardsRevealed"
        class="voting-analytics-container"
    >
        <div class="voting-analytics-row">
            <div class="voting-analytics-col">
                <p class="average-label">Average</p>
                <p class="average-value">{{roomDataService.getCurrentRoom().averageVote}}</p>
            </div>
            <div class="voting-analytics-col">
                <p class="agreement-label">Agreement</p>
                <p class="agreement-value">{{roomDataService.getCurrentRoom().agreement}}%</p>
            </div>
        </div>
        <div class="voting-analytics-row">
            <div class="voting-analytics-col">
                <app-card-deck-with-frequency
                    [cardDeck]="roomDataService.getVoteWithFrequency()"
                ></app-card-deck-with-frequency>
            </div>
        </div>
    </div>
</div>