<div class="invite-players-modal-container">
    <div class="invite-players-modal" [ngClass]="{
        'light-theme': themeService.getCurrentTheme() === 'light'
    }">
        <div class="invite-players-modal-close-btn-container">
            <button (click)="closeInvitePlayersModal()" [ngClass]="{
                'light-theme': themeService.getCurrentTheme() === 'light'
            }">X</button>
        </div>
        <div class="invite-players-modal-heading">
            <h1 [ngClass]="{
                'light-theme': themeService.getCurrentTheme() === 'light'
            }">Invite players</h1>
        </div>
        <div class="invite-players-modal-content">
            <div class="invite-players-with-link-container">
                <div class="invite-players-with-link-content">
                    <div class="invite-players-with-link-heading">
                        <h3 [ngClass]="{
                            'light-theme': themeService.getCurrentTheme() === 'light'
                        }">Share this link with anyone</h3>
                    </div>
                    <div class="invite-players-with-link-body">
                        <div class="invite-players-link">
                            <input 
                                type="text" 
                                [value]="inviteLink" 
                                #invitePlayersLink 
                                readonly
                                [ngClass]="{
                                    'light-theme': themeService.getCurrentTheme() === 'light'
                                }"
                            >
                        </div>
                        <div class="copy-invite-players-link">
                            <button (click)="copyContentToClipboard(invitePlayersLink)" [ngClass]="{
                                'light-theme': themeService.getCurrentTheme() === 'light'
                            }">copy</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="invite-players-with-code-container">
                <div class="invite-players-with-code-content">
                    <div class="invite-players-with-code-heading">
                        <h3 [ngClass]="{
                            'light-theme': themeService.getCurrentTheme() === 'light'
                        }">Or Join Through Code</h3>
                    </div>
                    <div class="invite-players-with-code-body">
                        <div class="invite-players-code">
                            <input 
                                type="text" 
                                [value]="inviteCode" 
                                #invitePlayersCode
                                readonly
                                [ngClass]="{
                                    'light-theme': themeService.getCurrentTheme() === 'light'
                                }"
                            >
                        </div>
                        <div class="copy-invite-players-code">
                            <button (click)="copyContentToClipboard(invitePlayersCode)" [ngClass]="{
                                'light-theme': themeService.getCurrentTheme() === 'light'
                            }">copy</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="invite-players-with-email-container">
                <div class="invite-players-with-email-content">
                    <div class="invite-players-with-email-heading">
                        <h3 [ngClass]="{
                            'light-theme': themeService.getCurrentTheme() === 'light'
                        }">Send through E-mail</h3>
                    </div>
                    <div class="invite-players-with-email-form">
                        <form (ngSubmit)="sendMail(emailForm)" #emailForm="ngForm">
                            <div class="sender-email-info-container">
                                <div class="sender-email-label-container">
                                    <label for="senderEmail" [ngClass]="{
                                        'light-theme': themeService.getCurrentTheme() === 'light'
                                    }">Your email</label>
                                </div>
                                <div class="sender-email">
                                    <input 
                                        type="email" 
                                        id="senderEmail"
                                        name="senderEmail"
                                        ngModel
                                        required
                                        email
                                        [ngClass]="{
                                            'light-theme': themeService.getCurrentTheme() === 'light'
                                        }"
                                    >
                                </div>
                            </div>
                            <div class="receiver-email-info-container">
                                <div class="receiver-email-label-container">
                                    <label for="receiverEmail" [ngClass]="{
                                        'light-theme': themeService.getCurrentTheme() === 'light'
                                    }">Receiver's email</label>
                                </div>
                                <div class="receiver-email">
                                    <input 
                                        type="email"
                                        id="receiverEmail"
                                        name="receiverEmail"
                                        ngModel
                                        required
                                        email
                                        [ngClass]="{
                                            'light-theme': themeService.getCurrentTheme() === 'light'
                                        }"
                                    >
                                </div>
                            </div>
                            <div class="send-email-btn-container">
                                <input 
                                    type="submit" 
                                    [value]="sendEmailBtnText" 
                                    [disabled]="!emailForm.valid"
                                    [ngClass]="{
                                        'light-theme': themeService.getCurrentTheme() === 'light'
                                    }"
                                >
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>