.home-page-container{
    /* border: 2px solid greenyellow; */
    min-height: 100vh;
    background-color: rgb(35, 39, 47);
}

.home-page-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
    /* background-color: #fff; */
    background-color: rgb(55, 65, 81);
}

.home-page-navbar-buttons{
    display: flex;
    align-items: center;
}

.logo img{
    /* width: 12rem; */
    height: 3rem;
}

.navbar-new-room-button-container button,
.navbar-join-room-button-container button{
    padding: 15px;
    /* border: 2px solid #fff; */
    border: 2px solid rgb(55, 65, 81);
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    /* background-color: #3993ff; */
    background-color: rgb(8, 126, 164);
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.navbar-new-room-button-container button:hover,
.navbar-join-room-button-container button:hover{
    /* background-color: #74b3ff; */
    background-color: rgba(8, 126, 164, 0.8);
}

.navbar-new-room-button-container button:active,
.navbar-join-room-button-container button:active,
.navbar-new-room-button-container button:focus,
.navbar-join-room-button-container button:focus{
    outline-width: 3px;
    outline-style: solid;
    /* outline-color: #74b3ff6e; */
    outline-color: rgb(8, 126, 164);
}

.navbar-new-room-button-container button:active,
.navbar-join-room-button-container button:active{
    /* background-color: #055bc5; */
    background-color: rgba(8, 126, 164, 0.8);
}

.navbar-theme-button-container button{
    background-color: rgba(246,247,249,.05);
    border: 2px solid rgb(55, 65, 81);
    border-radius: 100%;
    padding: 11px;
    cursor: pointer;
}

.navbar-theme-button-container button:hover{
    background-color: rgba(246, 247, 249, 0.137);
}

.navbar-theme-button-container button:active{
    background-color: rgba(246, 247, 249, 0.137);
}
/* Light Mode Styles */

.home-page-container.light-theme{
    background-color: #fff;
}

.home-page-navbar.light-theme{
    background-color: rgb(243, 244, 246);
}

.navbar-new-room-button-container button.light-theme,
.navbar-join-room-button-container button.light-theme{
    border: 2px solid rgb(243, 244, 246);
}

.navbar-theme-button-container button.light-theme{
    border: 2px solid rgb(243, 244, 246);
}