<div class="home-page-container" [ngClass]="{
    'light-theme': themeService.getCurrentTheme() === 'light'
}">
    <nav class="home-page-navbar" [ngClass]="{
        'light-theme': themeService.getCurrentTheme() === 'light'
    }">
        <div class="logo">
            <img [src]="themeService.getCurrentTheme() === 'light' ? '../../assets/full-logo-light-mode.svg' : '../../assets/full-logo.svg' " alt="logo">
        </div>
        <div class="home-page-navbar-buttons">
            <div class="navbar-new-room-button-container">
                <button (click)="navigateToNewRoomPage()" [ngClass]="{
                    'light-theme': themeService.getCurrentTheme() === 'light'
                }">New Room</button>
            </div>
            <div class="navbar-join-room-button-container">
                <button (click)="navigateToJoinRoomPage()" [ngClass]="{
                    'light-theme': themeService.getCurrentTheme() === 'light'
                }">Join Room</button>
            </div>
            <div class="navbar-theme-button-container">
                <button (click)="toggleCurrentTheme()" [ngClass]="{
                    'light-theme': themeService.getCurrentTheme() === 'light'
                }">
                    <fa-icon [icon]="['fas',themeService.getCurrentTheme() === 'light' ? 'moon' : 'sun']" [styles]="{'color':themeService.getCurrentTheme() === 'light' ? '' : 'rgb(246, 247, 249)'}" size="2x"></fa-icon>
                </button>
                <!-- <input type="checkbox" (click)="toggleCurrentTheme()"> -->
            </div>
        </div>
    </nav>
    <div class="test" style="display: flex; align-items: center;justify-content:space-between;text-align: center;margin-top: 6rem;">
        <div style="margin-left: 11rem;" [ngStyle]="{'color': themeService.getCurrentTheme() === 'light' ? 'rgb(35, 39, 47)' : 'rgb(246, 247, 249)'}">
            <h1>Planning Poker Online,</h1>
            <h1> For Agile Development Teams</h1>
            <p style="margin-top: 1rem;line-height: 1.5;">planning poker is an estimation technique used in agile project management to estimate the efforts required for a particular task or project</p>
        </div>
        <div style="margin-right: 5rem;">
            <img src="../../assets/test.png" alt="" style="width: 50rem;">
        </div>
    </div>
</div>