<div class="home-page-container">
    <nav class="home-page-navbar">
        <div class="logo">
            <img src="https://dropito.netlify.app/static/media/dropito-logo-4.c625a92d73c6853fa1c9.png" alt="logo">
        </div>
        <div class="home-page-navbar-buttons">
            <div class="navbar-new-room-button-container">
                <button (click)="navigateToNewRoomPage()">New Room</button>
            </div>
            <div class="navbar-join-room-button-container">
                <button (click)="navigateToJoinRoomPage()">Join Room</button>
            </div>
        </div>
    </nav>
</div>